@font-face {
  font-family: "Proxima";
  src: url("ProximaNovaRegular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoThin";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

.site-navbar .site-navigation .site-menu a {
  font-family: "RobotoRegular", san-serif !important;
  font-weight: 500 !important;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RobotoRegular", san-serif !important;
  font-size: 32px;
  font-weight: 500;
}

.bold {
  font-family: "RobotoBold", san-serif !important;
}

.thin {
  font-family: "RobotoThin", san-serif !important;
}

body {
  font-family: "RobotoRegular", san-serif !important;
  font-kerning: normal;
  font-size: 16px;
  font-weight: 500 !important;
  line-height: 1.63;
  /*
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1rem;
    font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  */
}

.yellow {
  color: #e2c044;
}

.grey {
  color: #c1c1c1 !important;
}

.greyb {
  background-color: #f7f7f7 !important;
}

blockquote {
  quotes: "“""”""‘""’";
  font-style: italic;
}

blockquote:before {
  content: open-quote;
}

/* blockquote:after {
    content: close-quote;
  } */

blockquote:before,
blockquote:after {
  color: #ffbf00;
  font-size: 4.2em;
  line-height: 1em;
}

blockquote:before {
  width: 100% !important;
  display: table;
  clear: both;
  margin-bottom: -0.6em !important;
}

blockquote:after {
  text-align: right;
  float: right !important;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 5px solid #ffbf00;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  color: #000;
}

.site-section {
  padding: 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 0;
  }
}

.greybutton{
    background-color: #565853 !important;
    border-color: #565853 !important;
}
.greybutton:hover{
    color:gold !important;
}

.socialicons a{
    color: white;
}
.socialicons a:hover {
  color: gold !important;
}


.site-footer {
  padding: 3em 0;
  background: #000;
  color: #fff;
}

.site-footer a {
  color: white;
}

.site-footer a:hover {
  color: gold !important;
}

.site-navbar-wrap {
  padding: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  position: relative !important;
}

.site-navbar-wrap,
.site-navbar-wrap * {
  z-index: 99;
}

.site-navbar-top a {
  color: #f0b000 !important;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  color: #000;
}

.site-navbar .site-navigation .site-menu>li>a {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  color: #000;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
  background-color: #565853;
  color: #ffbf00;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  margin-top: -10px !important;
  border-radius: 0px !important;
  background: #565853;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  color: #565853;
  color: #fff !important;
}

.site-navbar .site-navigation .site-menu>li {
  display: inline-block;
  padding: 0px 16px !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
  color: #ffbf00 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
  background-color: #efb109 !important;
  color: white;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
  background-color: #565853;
  color: #ffbf00;
}

.site-blocks-cover,
.site-blocks-cover .row {
  min-height: 350px;
  height: calc(100vh);
}

.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page .row {
  min-height: 350px;
}

.site-blocks-cover p {
  font-weight: 700;
}

.image-play .icon-wrap {
  border: 2px solid white;
  background: rgba(256, 256, 256, 0);
}

.image-play .icon-wrap>span {
  color: #fff;
}

div#logo {
  float: left;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 7px;
  list-style: none;
  background-color: #fff;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;

  content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.cards-section .card {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(109, 109, 109, 0.11);
  -moz-box-shadow: 0px 0px 15px 3px rgba(109, 109, 109, 0.11);
  box-shadow: 0px 0px 15px 3px rgba(109, 109, 109, 0.11);
}

p.card-text {
  margin: 20px 0 0;
  color: #656565;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: 2;
}

a.btn.more {
  outline: none;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 1px;
  color: red;
  padding: 0.7em 2em;
  border: 1px solid #d0d0d0;
}

  {
  box-sizing: border-box;
}

body {
  font-family: "proxima_nova_regular", "Helvetica", san-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1920px;
  position: relative;
  max-height: 100%;
  margin: auto;
}

/* Caption text */
.text {
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 50.5s ease;
}

/*
.active {
  background-color: #717171;
}
*/
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 10.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/*pre header*/

.blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

/*<!---show more*********************/

p {
  margin: 0 0 10px;
  font-family: "Roboto", sans-serif;
}

p,
pre {
  margin: 0 0 1em 0;
}

a,
a:link,
a:focus,
a:active,
a:visited {
  outline: 0;
}

a,
a:link,
a:focus,
a:active,
a:visited {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.interior.container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blogBox {
  margin-bottom: 30px;
  box-sizing: border-box;
}

.blogBox .item {
  background: #f4f4f4;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  max-height: 425px;
}

.blogBox .item:hover {
  background: #e8e8e8;
  cursor: pointer;
}

.blogBox .item img {
  width: 100%;
}

.blogBox .item p {
  padding-bottom: 40px;
}

.blogBox .item .blogTxt {
  padding: 25px;
}

.blogBox .item h2 {
  margin: 15px 0;
  font-family: "Roboto", sans-serif;
}

.blogBox .item .blogCategory a {
  padding: 5px 10px 2px;
  border: 1px solid #616161;
  color: #616161;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.blogBox .item .blogCategory a:hover {
  background: #616161;
  color: #fff;
  text-decoration: none;
}

#loadMore {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}

#loadMore a {
  background: #565853;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  transition: all 0.25s ease-out;
  -webkit-font-smoothing: antialiased;
}

#loadMore a:hover {
  background-color: #565853;
}

@media screen and (min-width: 1200px) {
  .blogBox .featured h2 {
    font-size: 42px;
  }
}

@media screen and (min-width: 991px) {
  .blogBox .featured h2 {
    font-size: 30px;
    font-style: italic;
  }

  .blogBox .featured .blogTxt {
    max-width: 50%;
    width: 100%;
    padding: 50px;
    float: left;
    background: inherit;
    min-height: 378px;
  }

  .blogBox .featured img {
    max-width: 50%;
    width: 100%;
    float: left;
    min-height: 378px;
  }
}

@media screen and (min-width: 768px) {
  .blogBox .item img {
    height: 244px;
  }
}

$host: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/";

@font-face {
  font-family: "Grotesque";
  src: url("#{$host}BrandonGrotesque-Regular.eot"),
  url("#{$host}BrandonGrotesque-Regular.ttf"),
  url("#{$host}BrandonGrotesque-Regular.woff");
  font-weight: normal;
}

@font-face {
  font-family: "Grotesque Black";
  src: url("#{$host}BrandonGrotesque-Black.eot"),
  url("#{$host}BrandonGrotesque-Black.ttf"),
  url("#{$host}BrandonGrotesque-Black.woff");
  font-weight: bold;
}

$big-stone: #152536;
$white: #fff;
$smalt-blue: #4e958b;
$maroon-flush: #c32361;
$black: #000;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);

$card-width: 350px;
$card-height: 350px;

$thumb-height: 260px;

$border-radius: 3px;
$box-shadow: 0 1px 4px rgba($black, 0.3);
$transition: cubic-bezier(0.17, 0.67, 0.5, 1.03);
$timing-1: 0.4s 0.15s;
$timing-2: 0.5s 0.25s;

$grotesque-black: "Grotesque Black",
sans-serif;
$grotesque-regular: "Grotesque",
sans-serif;
$merriweather: "Merriweather",
sans-serif;

$new-york-city: "#{$host}new-york-city.png";
$flag: "#{$host}flag.png";

@mixin pos($pos, $left: null, $top: null, $right: null, $bottom: null) {
  position: $pos;
  left: $left;

  @if $top {
    top: $top;
  }

  @if $left {
    left: $left;
  }

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: $big-stone;
}

a[href] {
  position: relative;

  &,
  &:link,
  &:visited,
  &:active {
    text-decoration: none;
    color: lighten($maroon-flush, 5);
    text-shadow: 2px 2px 2px darken($big-stone, 10);
    padding-bottom: 3px;
    font-weight: bold;
  }

  &::after {
    content: "";
    @include pos(absolute, $left: 0, $bottom: 0);
    background: $white;
    @include size(0, 1px);
    transition: 0.35s $transition;
  }

  &:hover::after {
    width: 100%;
    box-shadow: $box-shadow;
  }
}

.note {
  margin-top: 30px;
  color: $white;
  font-size: 1rem;
  font-family: $merriweather;
  line-height: 1.5;
  text-align: center;
}

article.card {
  @include pos(absolute, 50%, 50%);
  @include size($card-width, $card-height);
  transform: translate(-50%, -50%) translateZ(0);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;

  .thumb {
    @include size(auto, $thumb-height);
    background: url($new-york-city) no-repeat center;
    background-size: cover;
    border-radius: $border-radius;
  }

  .infos {
    @include size(auto, $card-height);
    position: relative;
    padding: 14px 24px;
    background: $white;
    transition: $timing-1 $transition;

    .title {
      position: relative;
      margin: 10px 0;
      letter-spacing: 3px;
      color: $big-stone;
      font-family: $grotesque-black;
      font-size: 1rem;
      text-transform: uppercase;
      text-shadow: 0 0 0px lighten($big-stone, 20);
    }

    .flag {
      @include pos(absolute, $top: 50%, $right: 0);
      transform: translateY(-50%);
      @include size(35px, 23px);
      background: url($flag) no-repeat top right;
      background-size: 100% auto;
      display: inline-block;
    }

    .date,
    .seats {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 0.85rem;
      color: $lite-big-stone;
      font-family: $grotesque-regular;
    }

    .seats {
      display: inline-block;
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid $lite-grey;
      opacity: 0;
      transition: $timing-2 $transition;
    }

    .txt {
      font-family: $merriweather;
      line-height: 2;
      font-size: 0.95rem;
      color: $lite-big-stone;
      opacity: 0;
      transition: $timing-2 $transition;
    }

    .details {
      @include pos(absolute, $left: 0, $bottom: 0);
      margin: 10px 0;
      padding: 20px 24px;
      letter-spacing: 1px;
      color: $smalt-blue;
      font-family: $grotesque-black;
      font-size: 0.9rem;
      text-transform: uppercase;
      cursor: pointer;
      opacity: 0;
      transition: $timing-2 $transition;
    }
  }

  &:hover .infos {
    transform: translateY(-$thumb-height);

    .seats,
    .txt,
    .details {
      opacity: 1;
    }
  }
}

#instafeed {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#instafeed a {
  display: flex;
  align-items: center;
  position: relative;
  background: white;
}

/* 
.transbox p {
  margin: 1%;
} */

#instafeed a img {
  display: block;
  width: 100%;
}

/*background image*/

.background {
  background-image: url("../../images/Pic corrected - all IMG_0023corrected croped copy.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  /*border: 2px solid black;*/
}

.transbox {
  padding-top: 10px;
  /*margin-right: 210px;
  margin-left: 210px;*/
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: -16px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  opacity: 1;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}

@media (max-width: 1024px) {
  .transbox {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.transbox p {
  margin: 9px;
}

#discography-content p {
  font-weight: bold;
  color: #ffffff;
}

.link {
  border-radius: 0px;
  background-color: white;
  margin-bottom: 90px;
  padding: 30px 0px;
}

#discography-content {
  margin: 0px;
  padding: 0px;
}

.gridbox {
  background-image: radial-gradient( circle farthest-corner at 13.9% 28.2%,  rgba(235,164,73,1) 0%, rgba(252,236,138,1) 90% );
}

#discography-content .outer-div {
  background-color: transparent;
  padding: 10px;
}

#discography-content>div {
  border: 10px solid transparent;
}

#discography-content>div:hover {
  border: 10px solid #aaa;
  -webkit-transition: border-color 0.6s;
  /* Safari prior 6.1 */
  transition: border-color 0.6s;
}

.font_7 {
  font: normal normal normal 22px/1.4em "enriquetaregular", serif;
  color: rgb(255, 255, 255);
}

.outer-div {
  background: url(../../images/MonthlySlide/Jan.jpg) 0px top no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#discography-content a {
  color: #fff;
  width: 100%;
  height: 100%;
}

#discography-content .inner-div {
  width: 100%;
  min-height: 55px;
  text-align: center;
}

.box-border {
  border: 2px solid #fff;
}

#discography-content .inner-div p {
  line-height: 30px;
}

#discography-content .inner-div {
  text-align: center;
}

:root {
  --font-family-sans-serif: "proxima_nova_bold", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-family: "proxima_nova_bold";
}

blockquote {
  margin: -11em 0 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima_nova_bold";
}

.lead {
  font-weight: 200;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* 
.row {
  margin-right: -50px;
} */

.btn-primary {
  background-color: #565853;
  border-color: #565853;
}

.btn-outline-primary {
  color: #fff;
}

/* 
.breadcrumb {
  margin-bottom: -4rem;
} */

.embed-responsive-4by3:before {
  padding-top: 65%;
}

.mt-2,
.my-2 {
  margin-top: -5.5rem !important;
}

:root {
  --transitiontime: 3s;
}

.god {
  transition: opacity var(--transitiontime);
}

.god:hover .a {
  padding: 10px;
  content: url("../../images/God's Logo Type (1).png");
}

/* .god:hover .a {
  opacity: 0;
  height: 0px;
  display: none;
} */
/* .god:hover .b {
  opacity: 1;
  height: auto;
} */
.god img.a {
  /* opacity: 1;
  transition: opacity var(--transitiontime); */
  padding: 0px;

}

/* .god img.b {
  opacity: 0;
  transition: opacity var(--transitiontime);
  height: 0px;
  padding: 10px;
  content: url("../../images/God's Logo Type (1).png");
} */